@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
/* Navbar */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-box-shadow: 0px 0px 7px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 7px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 7px -4px rgba(0,0,0,0.75);

}
.logo{
    margin: 10px 10px 10px 20px;
}
.logo img {
    height: 4vw;
}
.navItems{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.group{
    display: flex;
    margin-right: 20px;
}
.Wishlist,.Cart{
    display: flex;
    flex-direction: column;
    margin: 0px 20px;
    align-items: center;
    justify-content: center;
}
.Cart sup{
    background-color: rgb(198, 198, 198);
    
    border-radius: 100px;
    width: 16px;
    text-align: center;
}
.search{
    margin:auto;
    
}
.search input{
    width: 20vw;
    height: 5vh;
    border: none;
    border-radius: 5px;
    background-color: rgb(234, 234, 234);
    padding: 10px;
    font-size: 15px;
   
}
.line{
    height: 1px;
    width: 100vh;
    background-color:rgb(245, 245, 245) ;
}
/*This is the shoes section  */

.shoes{
    margin: 10px;
    padding: 10px;
}
.heading-1{
    color: rgb(41, 41, 41);
    font-size: 2.5rem;
    margin: 10px;

}
.itemCards{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.itemCard{
    margin: 20px 0px;
    padding: 25px;
    border: 0.5px solid white ;
}
.itemCard:hover{
    border: 0.5px solid grey ;
}

.itemImage img{
    width: 25vw;
    height: 28vh;
}
.itemDetails h3{
 color: rgb(41, 41, 41);
 
}
.itemDetails p{
    font-size: 1.1rem;
    color: black;
}
.itemPrice{
    color: red !important;
}
.buttons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0px;
}
.btn{
    color:rgb(41, 41, 41) ;
    width: 12vw;
    padding: 10px;
    font-size: 1rem;
    background-color: white;
    border: 1.5px solid black;
    transition: all 0.5s ease
    
}
.btn:hover{
    background-color:rgb(0, 0, 0);
    color: white;
    border: 1.5px solid white;
}
/* This is shoes page  */

.heading-2{
    color: rgb(41, 41, 41);
    font-size: 2.5rem;
    margin: 30px 30px;
}
.itemPage{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    padding: 20px;
    margin: 40px 10px 10px 10px;
}
.itemPageImage img{
    width: 65%;
}
.itemInfo h3{
    color: rgb(103, 103, 103);
    font-size: 2.5rem ;
}
.itemInfo{
    line-height: 1.2;
    margin :10px;
}
.itemInfo p{
    color: rgb(41, 41, 41);
    font-size: 2rem ;
}

.pageBtn{
    width: 17vw !important;
    padding: 15px !important;
    font-size: large !important;
    margin: 20px 0px !important;
}

/* Add to cart css */

.cartItemPageImage img{
    width: 40% !important;
}
.cartItemInfo{
    line-height: 1.2;
    margin :10px;
}
.cartItemInfo p{
    color: rgb(41, 41, 41);
    font-size: 1.5rem ;
    margin: 10px 0px;
}
.cartItemInfo h3{
    color: rgb(103, 103, 103);
    font-size: 1.8rem ;
}
.cartItemPage{
    border: 1px solid rgb(41, 41, 41);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 40px 10px 10px 10px;
}
.itemCartPrice{
    color: red !important;
}
.removeBtn{
    background-color: rgb(255, 60, 60);
    width: 100%;
    height: 40px;
    color: white;
    font-size: medium;
    font-weight:bold;
}